/* Christina Adjan */

/*----ADD CSS RESET----*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----ADD GOOGLE FONTS-----*/
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

/*-----ADD ROOT VARIABLES(INCLUDING COLOR PALETTE AND FONT FAMILY)----*/
:root{
	--primary-font: 'Molle', cursive;
	--secondary-font: 'Montserrat', cursive;

	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}
/*---SKIP LINK STYLES----*/
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus{
	position: static;
	width: auto;
	height: auto;
}

/*---BODY STYLES------*/
h1, h2, h3 {
	font-family: var(--primary-font);
	font-size: 3rem;
	padding: 10px;
}

body{
	font-family: var(--secondary-font);
	
}

p{
	line-height: 2;
	padding: 10px 20px;
}

img {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

/*---HEADER STYLES----*/
header{
	background: linear-gradient(to bottom, var(--teal), var(--white));
	position: relative;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

header p {
	font-size: 1.2rem;
	color: var(--dark-gray);
	padding: 10px;
}

/*----STYLE NAVIGATION AND MENU-----*/
nav {
	position: relative;
	text-align: center;
}

/*------CREATE YELLOW MENU BUTTON---------*/
nav::before {
	content: "MENU";
	display: block;
	width: 50%;
	background: var(--yellow);
	color: var(--black);
	text-align: center;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	cursor: pionter;
	margin: 0 auto;
	position: relative;
}

/*---HIDE NAV LINKS---*/
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	flex-direction: column;
	background: var(--black);
	width: 100%;
	text-align: center;
}

/*---STYLE FOR MENU ITEMS----*/
nav ul li {
	border-bottom: 1px solid var(--black);
	padding: 15px;
}

/*-----MENU LINKS----*/
nav ul li a {
	text-decoration: none;
	background-color: var(--teal);
	color: var(--black);
	font-size: 18px;
	display: block;
}

/*-----TOGGLE MENU ON CLICK----*/
nav:has(:hover)::before {
	background: var(--dark-gray);
}

/*----SHOW MENU WHEN OVERED----*/
nav:hover ul {
	display: flex;
}

/*----HIDE UNNECESSARY TEXT---*/
.sr-only {
	display: none;
}

label[for="toggle"] {
	display: none;
}

/*----PLAN SECTION STYLES-----*/
#plan {
	background-color: var(--yellow);
	padding: 20px;
	border-radius: 10px;
}

#plan img{
	background-color: var(--teal);
	width: 75%;
	height: 75%;
	margin: 10px 0;
	border-radius: 10%;
	padding: 10px;
	border: 3px solid var(--white);
	align-items: center;
	justify-content: center;
	
}

#plan section {
	position: relative;
	text-align: center;
	margin-bottom: 10px;

}

#plan h4 {
	position: absolute;
	top: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50%;
}

/*----TESTIMONIAL SECTION---*/
#testimonials {
	text-align: center;
	margin-top: 10px;
}

#testimonials section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#testimonials img {
	width: 50%;
	height: 50%;
}

#testimonials h4 {
	font-size: 26px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

#testimonials q {
	font-style: italic;
	display: block;
	width: 75%;
	text-wrap: wrap;
}

/*----STYLE ABOUT SECTION----*/
#about {
	background-color: var(--blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

#about section {
	width: 50%;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#about img {
	width: 80px; 
	height: auto;
	margin-bottom: 10px;
}

#about h4 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#about p {
	font-size: 16px;
	margin-top: 5px;
}

/*---STYLE THE FORM----*/
#contact {
	padding: 20px;
	margin: 20px auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

label {
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
}

input, select, textarea {
	padding: 10px;
	border: 2px solid var(--purple);
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: var(--purple);
	color: var(--white);
	border: none;
	align-self: flex-start;
	margin: 20px;
}

/*-----STYLE FOOTER---*/
footer {
	background-color: var(--light-gray);
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
}

/*-----MEDIA SCREEN STYLES------*/
/*-----MEDIUM SCREEN----*/

@media screen and (min-width: 750px) {
	#img-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	#plan div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
		justify-items: center;
	}

	#plan section img {
		width: 50vw;
		height: 50vw;
		margin-left: 30px;
		margin-right: 30px;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		justify-items: center;
		width: 80%;
		padding: 15px 40px 10px;
	}
	#about {
		display: flex;
		flex-direction: column;
	}
	#about div {
		display: flex;
		flex-direction: row;
	}
}

/*-------LARGE SCREEN STYLES-------*/
@media screen and (min-width: 980px) {
	#intro {
		display: flex;
		justify-content: flex-start; 
		align-items: center;
	}

	#plan {
		display: block;
		background-color: var(--yellow);
	}

	#plan div {
		display: flex;
		gap: 10px;
	}

	#testimonials div{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	#about div {
		margin-left: 20%;
	}
}

	